<style>
    #editor {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        bottom: 0;
    }
    .form-data {
        padding-left: 410px !important;
        margin-left: 0;
        border-right: 1px dotted #aaa;
    }
    .help-block {
        margin-left:20px;
    }
    .dropdown-menu {
        overflow: auto;
        max-height: 50vh;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">File <span class="caret"></span></a>
                    <ul class="dropdown-menu form-list">
                        <li><a href="#new"> Add new form</a></li>
                        <li><a href="#save"> Save form</a></li>
                        <li><a href="#delete"> Delete form</a></li>
                        <li role="presentation" class="divider"></li>
                        <?php foreach($this->forms as $id => $name): ?>
                            <li><a href="#<?php echo $id ?>"><?php echo $name ?></a></li>
                        <?php endforeach ?>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="col-sm-4" id="editor"></div>

<div class="container form-data">
    <div class="row">
        <div class="col-sm-12" id="form-container"></div>
    </div>
</div>

<script src="/js/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/src-min-noconflict/ext-settings_menu.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/jquery.datetimepicker.full.min.js"></script>
<script>

    Date.parseDate = function( input, format ){
        return moment(input,format).toDate();
    };
    Date.prototype.dateFormat = function( format ){
        return moment(this).format(format);
    };

    function createCookie(name,value,days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            expires = "; expires="+date.toGMTString();
        } else  {
            expires = "";
        }
        document.cookie = name+"="+value+expires+"; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    var formId = readCookie('form-id');
    if (!formId) {
        formId = '15';
    } else {
        formId = formId.replace('/','');
    }
    var method = 'PUT';
    ace.require("ace/ext/settings_menu");
    var editor = ace.edit("editor");
    editor.$blockScrolling = Infinity;
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/json");
    editor.getSession().setTabSize(2);
    var updateForm = function() {
        $.get('/lajiform/' + formId + '?format=json&expand=false', function(data) {
            editor.setValue(JSON.stringify(data, null, '  '));
            editor.moveCursorTo(0, 0);
            createCookie('form-id',formId, 365);
            //$.get('/lajiform/' + formId + '?format=html', function(content) {
            //    editor.resize();
            //    $(window).trigger('form-refresh');
            //});
        });
    };
    updateForm();

    var save = function () {
        $.ajax({
            url: method == 'POST' ? '/lajiform' : '/lajiform/' + formId,
            type: method,
            contentType: "application/json",
            data: editor.getValue(),
            processData: false,
            success: function(data) {
                if (method == 'POST') {
                    formId = data['data']['id'];
                    method = 'PUT';
                    var name = 'undefined';
                    if (data['data']['name']) {
                        name = data['data']['name'];
                    }
                    $('.form-list').append('<li><a href="#' + formId + '">' + name + '</a></li>');
                }
                updateForm();
            },
            error: function(xhr, status, error) {
                console.log(xhr);
            }
        });
    };

    editor.commands.addCommand({
        name: 'refresh',
        bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
        exec: save
    });

    $(window).on('hashchange', function() {
        var action = window.location.hash;
        switch (action) {
            case '':
            case '#':
                return;
            case '#save':
                save();
                break;
            case '#new':
                formId = '';
                method = 'POST';
                editor.setValue('');
                $('#form-container').html('');
                break;
            case '#delete':
                var id = formId.replace('/', '');
                if (confirm("Do you really want to delete form " + id)) {
                    $.ajax({
                        url: '/lajiform/' + formId,
                        type: 'DELETE',
                        contentType: "application/json",
                        processData: false,
                        success: function(data) {
                            $('#form-container').html('deleted');
                            window.location.hash = '#new';
                        },
                        error: function(xhr, status, error) {
                            console.log(xhr);
                        }
                    });
                }
                break;
            default:
                method = 'PUT';
                formId = action.replace('#','');
                updateForm();
                break;
        }
        window.location.hash = '#';
    });

    // Client JS
    $('#form-container').on('click', '.collection-add', function(e) {
        e.preventDefault();
        var $meta = $(this).closest('.collection-metadata');
        var placeholder = $meta.data('collection-placeholder');
        var re = new RegExp(placeholder,"g");
        var template = $meta.data('collection-template');
        var count = $meta.data('collection-count');
        if (!count) {
            count = $meta.find('.collection-elements').children().length;
        }
        $meta.find('.collection-elements:first').append(template.replace(re, count));
        count++;
        $meta.data('collection-count', count);
        $(window).trigger('form-refresh');
    }).on('click', '.collection-del', function(e) {
        e.preventDefault();
        $(this).closest('.collection-element').remove();
    }).on('submit', 'form', function(e) {
        e.preventDefault();
        var $form = $(this);
        var data  = $form.serialize();
        clearMessages();
        $.ajax({
            url: '/lajiform' + formId,
            type: 'POST',
            data: data,
            success: function(data) {
                if (data['isValid']) {
                    alert('al es good');
                } else {
                    markErrors($form, data['errors'], 'has-error')
                }
                if (data['hasWarnings']) {
                    markErrors($form, data['warnings'], 'has-warning')
                }
                console.log(data);
            },
            error: function(xhr, status, error) {
                console.log(xhr);
            }
        });
    });

    var clearMessages = function() {
        $('.form-message').remove();
        $('.has-error, .has-warning').removeClass('has-error has-warning');
    };

    var markErrors = function($form, errors, addClass, parent) {
        parent = parent || '';
        var name = '';
        for(var i in errors) {
            if (!errors.hasOwnProperty(i)) {
                continue;
            }
            if (parent == '') {
                name = i;
            } else {
                name = parent + '[' + i + ']';
            }
            var $input = $form.find('[name="'+name+'"]');
            if ($input.length === 0) {
                markErrors($form, errors[i], addClass, name);
            } else {
                var errorMsgs = errors[i];
                var $formGroup = $input.closest('.form-group');
                $formGroup.addClass(addClass);
                for(var j in errorMsgs) {
                    if (!errorMsgs.hasOwnProperty(j)) {
                        continue;
                    }
                    $formGroup.append('<span class="help-block form-message">' + errorMsgs[j] + '</span>');
                }
            }
        }
    };

    $(window).on('form-load', function() {
        $(window).trigger('form-refresh');
    }).on('form-refresh', function() {
        console.log('adding!');
        $('.add-datetime').removeClass('add-datetime').datetimepicker({
            format:'YYYY-MM-DD HH:mm',
            formatTime:'h:mm a',
            formatDate:'DD.MM.YYYY'
        });
    });
</script>