body .laji-form {
	font-size: 13px;
	position: relative;
}

.laji-form .rw-widget-input input, .laji-form .rw-widget-picker input  {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.laji-form .has-error .form-control {
	border-color: #a94442 !important;
}
.laji-form.blocking-loader {
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	z-index: 1051;
	transition: opacity 200ms ease-in;
	opacity: 0.0;
}
.laji-form.blocking-loader.enter-start,
.laji-form.blocking-loader.entering,
.laji-form.blocking-loader.leave-start,
.laji-form.blocking-loader.leaving {
	visibility: visible;
}
.laji-form.blocking-loader.enter-start {
	opacity: 0.0;
}
.laji-form.blocking-loader.entering {
	opacity: 0.5;
}
.laji-form.blocking-loader.leave-start {
	opacity: 0.5;
}
.laji-form.blocking-loader.leaving {
	opacity: 0.1;
}

.laji-form .pass-block {
	z-index: 1052 !important;
}

.laji-form .pass-block, .laji-form .pass-block .panel {
	-webkit-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
}

.laji-form .fetcher-input input {
	padding-right: 27px;
}
.laji-form .autosuggest-container {
	position: absolute;
	z-index: 1;
}
.laji-form .autosuggest-container ul {
	padding-left: 0px;
}
.laji-form .autosuggest-wrapper {
	position: relative;
}
.laji-form .autosuggest-wrapper .rw-popup {
	left: initial;
	right: initial;
}
.laji-form .fetcher-input .dropdown-menu {
	display: block;
}
.laji-form .fetcher-input .option-wrapper {
	padding: 2px;
}
.laji-form .fetcher-input .list-group {
	margin-bottom: 0px;
}
.laji-form .autosuggest-wrapper .rw-list-option img {
	border: 1px solid;
	float: right;
	margin-top: 4px;
}

.laji-form .map-array-directionless-enter {
	opacity: 0.01;
}
.laji-form .map-array-directionless-enter.map-array-directionless-enter-active {
	opacity: 1;
	transition: opacity .3s ease-in;
}
.laji-form .map-array-left-enter {
	transform: translate3d(-100%, 0, 0);
}
.laji-form .map-array-right-enter {
	transform: translate3d(100%, 0, 0);
}
.laji-form .map-array-left-enter.map-array-left-enter-active, .map-array-right-enter.map-array-right-enter-active {
	transform: translate3d(0, 0, 0);
	transition: all 300ms;
}
.laji-form .map-array-directionless-leave, .map-array-left-leave, .map-array-right-leave {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.laji-form .form-control, .laji-form .rw-widget, .laji-form .rw-widget-container, .laji-form .rw-list-option {
	border-radius: 2px !important;
}
.laji-form label[type="button"] {
	border-radius: 2px;
	line-height: 12.5px;
}
.laji-form .form-control:not(textarea), .laji-form .rw-widget-picker.rw-widget-container, .laji-form .rw-combobox > .rw-widget-container, .laji-form .autosuggest-wrapper:not(.laji-form-enum-range), .laji-form .rw-datetimepicker, .laji-form .tristate-buttons .btn {
	height: 25px !important;
}
.laji-form .form-control-feedback {
	line-height: 25px;
	height: 25px;
	width: 25px;
	font-size: 10px;
}
.laji-form .rw-combobox .rw-input, .laji-form .rw-multiselect-wrapper .rw-input, .laji-form .rw-datetimepicker .rw-input {
	height: 23px !important;
}
.laji-form .rw-multiselect {
	min-height: 25px !important;
}
.laji-form .form-control:not(textarea), .laji-form .rw-input  {
	padding: 0px 5px;
}
.laji-form select {
	padding: 3px 6px !important;
}

.laji-form .rw-input-reset {
    height: 23px;
}

.laji-form .rw-multiselect-taglist li {
	height: 18px;
	line-height: 18px;
	font-size: 11px;
	margin-top: 1px;
}

.laji-form .rw-list-option.rw-state-focus:not(.rw-state-selected) {
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}
.laji-form ul.rw-list > li.rw-list-option, .rw-selectlist > li.rw-list-option {
min-height: 20px;
}
.laji-form .rw-combobox .rw-list, .laji-form .rw-datetimepicker .rw-list, .laji-form .rw-numberpicker .rw-list, .laji-form .rw-dropdownlist .rw-list, .laji-form .rw-multiselect .rw-list {
    max-height: 50vh;
}

.laji-form .form-group {
	margin-bottom: 5px;
}
.laji-form .form-group-padding-bottom {
	margin-bottom: 6px;
}

.laji-form button {
	line-height: 14px;
	white-space: normal;
}
.laji-form button:not(.list-group-item) {
	border-radius: 2px;
}

.laji-form legend {
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.laji-form legend.no-line-break {
	white-space: nowrap;
	overflow: hidden;
}
.laji-form legend.lg {
	font-size: 20px;
}
.laji-form label:not([type="button"]) {
	font-size: 13px;
	white-space: nowrap;
	margin-bottom: 1px;
	display: inline-block;
	max-width: 100%;
}
.laji-form .leaflet-container label {
	display: inherit;
}
.laji-form label > div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form label > div > strong {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.laji-form .field-without-label {
	margin-top: 5px;
}
.laji-form .well-sm {
	padding-top: 4px;
}
.laji-form .table-condensed .well-sm {
	padding-top: 0;
}
.laji-form .table-condensed .laji-form-field-template-buttons {
	margin-top: 5px;
}

.laji-form .field-description {
	font-size: 13px;
}

.laji-form .well {
	margin-bottom: 6px;
}

.laji-form .input-meta {
	font-size: 11px;
	white-space: nowrap;
}
.laji-form .input-meta button {
	font-size: 11px;
	padding: 0;
	margin: 0;
}
.laji-form .taxon-widget.input-meta {
	margin-top: -7px;
}
.laji-form .meta-info-taxon {
	display: inline-block;
}
.laji-form .input-meta ul {
	padding-left: 15px;
}

.laji-form .laji-form-help-glyph {
	margin-left: 5px;
	border-radius: 9px;
	color: white;
	padding: 0px 6px;
	font-size: 13px;
}

.laji-form .laji-form-map-container {
	z-index: 1;
	position: relative;
	height: 100%;
}
.laji-form .laji-form-map {
	height: 100%;
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
}
.laji-form .laji-form-map-container .laji-form-popped {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 5px;
	overflow: hidden;
}
.laji-form .map-field .field-description {
	padding-bottom: 15px;
}

.laji-form .pass-block .panel {
	position: absolute;
	z-index: 500 !important;
	top: 3%;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

.laji-form .leaflet-rrose-content-wrapper {
	border-radius: 2px;
}
.map-data-tooltip {
	list-style: none;
	padding: 0;
	text-align: initial;
}
.laji-form .laji-form-medias .btn-danger {
	width: auto;
	height: auto;
	line-height: 5px;
	font-size: 11px;
	padding: 5px;
	margin: 2px;
}
.laji-form .glyph-button, .laji-form .laji-form-field-template-buttons button:not(.button-corner) {
	width: 25px;
	height: 25px;
	font-size: 11px;
	padding: 3px 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}
.laji-form .laji-form-scope-field-glyph {
	line-height: 9px;
}

.laji-form .dropdown-header {
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.laji-form .react-spinner_bar {
	background-color: black;
}
.laji-form .react-spinner {
	position: absolute;
	left: initial;
	top: initial;
	float: right;
}
.laji-form .fetcher-input .react-spinner {
	z-index: 3;
	width: 21px;
	height: 21px;
	right: -9px;
	bottom: -8px;
}
.laji-form .input-meta .react-spinner {
	width: 20px;
	left: 11px;
	top: 10px;
	position: relative;
}

.laji-form button:not(.list-group-item) .react-spinner {
	position: relative !important;
	float: left !important;
	height: 7px;
	width: 15px;
	margin-top: 8px;
	margin-left: 2px;
	margin-bottom: 1px;
}
.laji-form button.btn-primary .react-spinner .react-spinner_bar {
	background-color: white !important;
}
.laji-form.media-modal-content > .react-spinner {
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
}
.laji-form.media-modal .media-modal-content {
	min-height: 700px;
}

.laji-form .scope-field-modal-item .react-spinner {
	left: 50%;
	width: 20px;
}
.laji-form .scope-field-modal-item .list-group-item {
	line-height: 0px;
}
.laji-form.scope-field-modal-item span {
	font-weight: bold;
}
.laji-form .scope-field-search {
	width: 40%;
	display: block;
	margin: auto;
}

.laji-form .scope-field-search .glyphicon {
	top: -3px
}

.laji-form.scope-field-modal-item .list-group-item:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #ececec;
}
.laji-form.scope-field-modal-item .list-group-item:first-child.active {
	background-color: #255c8c;
}

.laji-form .dropdown-menu {
	padding: 0px;
	border-radius: 2px;
}

.laji-form button.button-right {
	float: right;
	white-space: nowrap;
}

.laji-form .dropdown-menu>.disabled>a {
	color: #d4d4d4;
}

.laji-form .out-of-view {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 1;
	-webkit-box-shadow: -2px 18px 43px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 18px 43px -18px rgba(0,0,0,0.75);
	box-shadow: -2px 18px 43px -18px rgba(0,0,0,0.75);
}
.laji-form .form-map-inline-container {
	overflow: hidden;
}
.laji-form .form-map-inline-container {
	overflow: hidden;
}
.laji-form .map-array-inline-schema {
	overflow-y: auto;
	overflow-x: hidden;
}
.laji-form .nav-tabs>li.hover>a {
	border-color: #eee #eee #ddd;
	text-decoration: none;
	background-color: #eee;
}
.laji-form .laji-form-map-navi {
	margin-bottom: 5px;
}
.laji-form .laji-form-medias {
	margin-top: 10px;
}
.laji-form .laji-form-medias > .media-container, .laji-form .laji-form-medias > .laji-form-drop-zone {
	margin-right: 7px;
	margin-bottom: 7px;
	width: 120px;
	height: 120px;
	float: left;
}
.laji-form .laji-form-medias a > img, .laji-form .audios-container a {
	cursor: pointer;
}
.laji-form .laji-form-medias img, .laji-form .media-loading {
	width: inherit;
	height: inherit;
}
.laji-form .laji-form-medias .media-loading img {
	opacity: 0.5;
}

.laji-form .audios-container > .media-container, .laji-form .audios-container > .laji-form-drop-zone {
	width: 90px;
	height: 105px;
}

.laji-form .taxon-img {
	border: 1px solid #eeeeee;
	background-size: cover;
}
.laji-form .taxon-img span {
	bottom: 0px;
	position: absolute;
	height: 21px;
	width: 100%;
	color: white;
	text-align: center;
	text-overflow: ellipsis;
	width: 118px;
	background-color: rgba(0,0,0,.7);
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
}

.laji-form .laji-form-drop-zone {
	cursor: pointer;
	border: 2px dashed #cacaca;
}
.laji-form  .laji-form-drop-zone:hover:not(.disabled), .laji-form .laji-form-drop-zone.dragging:not(.disabled)  {
	background-color: #d8fbc6;
	border-color: #a7d490;
}
.laji-form .laji-form-medias a:hover, .laji-form .laji-form-medias a:active {
	text-decoration: none;
	color: #337ab7;
}
.laji-form .laji-form-drop-zone:hover:not(.disabled) span, .laji-form .laji-form-drop-zone.dragging:not(.disabled) span {
	color: #a7d490;
}
.laji-form  .laji-form-drop-zone.disabled, .laji-form  .laji-form-drop-zone.disabled .glyphicon {
	cursor: not-allowed;
}

.laji-form .laji-form-medias a {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.laji-form .laji-form-medias .media-container > a > div > .glyphicon, .laji-form .laji-form-medias .laji-form-drop-zone .glyphicon {
	font-size: 78px;
	color: #dedede;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-top: 16px;
}
.laji-form .audios-container .laji-form-drop-zone .glyphicon {
	font-size: 60px;
	padding-left: 12px;
	padding-top: 19px;
}
.laji-form .audios-container .media-container > a > div > .glyphicon {
	padding-left: 2px;
	padding-top: 0px;
	color: #868686;
}
.laji-form .audios-container .media-container > a > div > .glyphicon-pause {
	padding-left: 6px;
}
.laji-form .audio-container {
	border: 2px solid #cacaca;
	border-radius: 2px;
	background: white;
}
.laji-form .audio-container.loading {
	height: 105.5px;
	width: 90px;
}
.laji-form .darker .laji-form-medias .glyphicon {
	color: #cacaca;
}
.laji-form .audio-metadata-button {
    width: 100%;
    height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-radius: 0px !important;
}

.laji-form.media-modal {
	width: 90vmin;
}

.laji-form.media-modal img {
	width: 100%;
}

.laji-form .media-container {
	position: relative;
}
.laji-form .media-container .react-spinner {
	top: 50%;
	left: 50%;
}
.laji-form .button-corner {
	border-radius: 7px !important;
	padding: 4px 2px !important;
	top: -9px;
	position: absolute;
	right: -8px;
	width: 15px;
	height: 15px;
	line-height: 7.5px;
}

.laji-form .list-group-item.disabled {
	opacity: .65;
}

.laji-form .modal-title {
	text-align: center;
}

.laji-form .col-lg-1, .laji-form .col-lg-10, .laji-form .col-lg-11, .laji-form .col-lg-12, .laji-form .col-lg-2, .laji-form .col-lg-3, .laji-form .col-lg-4, .laji-form .col-lg-5, .laji-form .col-lg-6, .laji-form .col-lg-7, .laji-form .col-lg-8, .laji-form .col-lg-9,
.laji-form .col-md-1, .laji-form .col-md-10, .laji-form .col-md-11, .laji-form .col-md-12, .laji-form .col-md-2, .laji-form .col-md-3, .laji-form .col-md-4, .laji-form .col-md-5, .laji-form .col-md-6, .laji-form .col-md-7, .laji-form .col-md-8, .laji-form .col-md-9,
.laji-form .col-sm-1, .laji-form .col-sm-10, .laji-form .col-sm-11, .laji-form .col-sm-12, .laji-form .col-sm-2, .laji-form .col-sm-3, .laji-form .col-sm-4, .laji-form .col-sm-5, .laji-form .col-sm-6, .laji-form .col-sm-7, .laji-form .col-sm-8, .laji-form .col-sm-9,
.laji-form .col-xs-1, .laji-form .col-xs-10, .laji-form .col-xs-11, .laji-form .col-xs-12, .laji-form .col-xs-2, .laji-form .col-xs-3, .laji-form .col-xs-4, .laji-form .col-xs-5, .laji-form .col-xs-6, .laji-form .col-xs-7, .laji-form .col-xs-8, .laji-form .col-xs-9 {
	padding-right:3px;
	padding-left:3px;
}

.laji-form .row {
	margin-left: -3px;
	margin-right: -3px;
}

.laji-form .select-icon svg {
	max-height: 20px;
	max-width: 20px;
	margin-top: 4px;
}
.laji-form .dropdown-menu .select-icon svg {
	max-width: 30px;
}
.laji-form .highlight .select-icon svg path {
	fill: white !important;
}

.laji-form .date-time-buttons {
	width: 130px;
}

.laji-form .laji-form-field-template-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
}
.laji-form .laji-form-field-template-schema {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	flex-basis: 0%;
}
.laji-form .laji-form-field-template-buttons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
	max-width: 52px;
}

@media (max-width: 768px) {
	.laji-form .glyph-button, .laji-form .laji-form-field-template-buttons button {
		margin-bottom: 0px;
	}
	.laji-form .laji-form-field-template-buttons {
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: flex-start;
		
	}
	.laji-form .btn-toolbar:not(.desktop-layout) .btn {
		width: 100%;
		margin-bottom: 2px;
	}
}

.laji-form .date-widget {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .date-widget .date-picker {
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
}
.laji-form .date-widget .btn-group {
	margin-left: 1px;
}
.laji-form .date-widget .btn-group .btn {
	height: 25px;
	line-height: 12.5px;
}
.laji-form .interactive {
	cursor: pointer;
}

.laji-form .laji-form-clickable-panel-header {
	cursor: pointer;
}
.laji-form .laji-form-panel-header {
	padding: 10px 15px;
	color: rgb(51, 51, 51);
}
.laji-form .laji-form-panel .panel-heading, .laji-form .pager {
	padding: 0;
	margin: 0;
}
.laji-form button.laji-form-accordion-header {
	color: white;
}
.laji-form .panel:not(.panel-danger) div.laji-form-accordion-header {
	background-color: #e2e2e2;
}
.laji-form .laji-form-accordion-buttons .btn {
	margin-top: 5px;
	height: 48px;
	width: 100%;
}

.laji-form .gray {
	border: 1px solid #e3e3e3;
}
.laji-form .gray {
	background-color: #f5f5f5;
}
.laji-form .background {
	background-color: #f6f8f8;
}
.laji-form .nonbordered {
	border: none;
}
.laji-form .darker {
	background-color: #e2e2e2;
}
.laji-form .darker legend {
	border-color: #cacaca;
}
.laji-form .darker th {
	border-color: #cacaca;
}
.laji-form .laji-form-single-active-array .panel-body {
	background: #f5f5f5;
}

.laji-form .well.slim {
	margin-bottom: 2px;
	padding: 2px;
}

.laji-form .laji-form-accordion-header .panel-title {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .pager .panel-title {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.laji-form .laji-form-accordion-header .panel-title > *:first-child {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 0px; /** Ellipsis overflowing doesn't work without fixed width **/
}
.laji-form .laji-form-accordion-header .pager .panel-title > *:first-child {
	width: auto;
}

.laji-form .map-highlight, .laji-form.reorder-active {
	outline: 2px solid #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.laji-form .panel:not(.laji-map-dialog) {
	margin-bottom: 5px;
}
.laji-form .panel-body:not(.laji-map-dialog) {
	padding: 8px;
	line-height: 21px;
}
.laji-form .panel.laji-form-error-list:not(.laji-form-popped) .panel-body {
	padding-top: 3px;
}

.laji-form .has-error .rw-widget {
	border-color: #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.laji-form .unit-short-hand {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 3px;
}
.laji-form .unit-short-hand button {
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
}

.laji-form label .bootstrap-switch {
    border-radius: 2px;
    font-weight: normal;
}
.laji-form .bootstrap-switch-container {
    border-radius: 2px;
}
.laji-form .bootstrap-switch-container span {
    height: 23px;
	white-space: nowrap;
}
.laji-form .bootstrap-switch .bootstrap-switch-handle-on {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.laji-form .bootstrap-switch-disabled {
	border-color: #ccc;
}
.laji-form .laji-form-popped {
	position: fixed;
	z-index: 1030;
	-webkit-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	max-height: 90%;
	overflow: auto;
}
.laji-form .laji-form-failed-jobs-list {
	left: initial !important;
	right: 5px;
}
.laji-form .laji-form-error-list {
	top: 5px;
	left: 5px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid #bd362f;
}
.laji-form .laji-form-error-list.laji-form-warning-list {
	border: 1px solid #f0ad4e;
}
.laji-form .laji-form-error-list .panel, .laji-form .laji-form-error-list .panel-heading {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}
.laji-form .laji-form-error-list .error-panel .panel-heading {
	background-color: #bd362f;
}
.laji-form .laji-form-error-list .warning-panel .panel-heading {
	background-color: #f0ad4e;
}
.laji-form .laji-form-warning-container .rw-widget, .laji-form .laji-form-warning-container .form-control {
	border-color: #f0ad4e !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.laji-form .laji-form-warning-container, .laji-form .laji-form-error-container {
	padding: 0px;
}
.laji-form ul.laji-form-warning-container li, .laji-form ul.laji-form-error-container li {
    color: white;
    border-radius: 2px;
    list-style: none;
    margin: 1px;
    padding: 2px 5px;
}
.laji-form ul.laji-form-warning-container li {
    background: #f0ad4e;
}
.laji-form ul.laji-form-error-container li {
	background-color: #bd362f;
}
.laji-form .laji-form-error-list .panel-title {
	color: white;
}
.laji-form .laji-form-error-list .btn-link {
	color: white;
}
.laji-form .laji-form-error-list .btn-link:hover {
	color: #dddddd;
}
.laji-form .laji-form-error-list .btn-link:focus {
	outline: none;
}
.laji-form-error-list .laji-form-error-list-expand {
	font-size: 12px;
}
.laji-form .laji-form-error-list .pull-right > * {
	margin-left: 5px;
}
.laji-form .laji-form-error-list .panel-footer {
	position: sticky;
	bottom: 0px;
}

.laji-form .shortcut-help {
	bottom: 5px;
}
.laji-form .hidden {
	display: none;
}
.laji-form .checkbox-container {
	display: table;
}

.laji-form.map-dialog .modal-content, .laji-form.map-dialog .modal-body {
	width: auto;
	height: inherit;
}
.laji-form.map-dialog {
	width: 90%;
	height: 90%;
}
.laji-form .laji-form-single-active-array .panel-group {
	margin-bottom: 0px;
}
.laji-form-single-active-array .panel-group .btn-toolbar {
	margin-top: 5px;
}
.laji-form-accordion-buttons.row:first-child {
	margin-bottom: 5px;
}
.laji-form .btn-toolbar {
	margin-right: 5px;
}
.laji-form .panel-group .panel {
	border-radius: 2px;
}

.laji-form .single-active-array-table-hidden * {
	visibility: hidden !important;
	height: 0 !important;
	line-height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	vertical-align: top !important;
}
.laji-form .single-active-array-table-container .laji-form-field-template-buttons, .laji-form .table-field .laji-form-field-template-buttons {
	width: 26px;
}
.laji-form .single-active-array-table-container .table-responsive.laji-form-field-template-schema {
	width: 1px; /** firefox 52 table-responsive fails without fixed width (possibly related to display: flex also?) **/
}
.laji-form .single-active-array-table {
	border-right: none;
}
.laji-form .single-active-array-table tr {
	height: 25px;
}
.laji-form .single-active-array-table-delete {
	width: 1px;
	padding: 0px;
}
.laji-form .single-active-array-table-delete button {
	padding: 0px;
	height: 25px;
	width: 25px;
	margin: 1px 0px 0px 2px;
	line-height: 7px;
}
.laji-form .single-active-array-table-container .delete-button-container {
	position: absolute;
	right: 0px;
	padding: 0px !important;
	border: 0px !important;
}
.laji-form .single-active-array-table td > img, .laji-form .single-active-array-table td > .media-loading, .laji-form .single-active-array-table td > .single-active-array-table-array > span {
	height: 15px;
	width: 15px;
}
.laji-form .single-active-array-table .media-loading {
	border: none;
}
.laji-form .single-active-array-table-array .react-spinner {
	float: left;
	top: 8px !important;
}
.laji-form th.single-active-array-table-content-col {
	padding: 0px;
	width: 1px;
	border: none;
}
.laji-form td.single-active-array-table-content-col {
	padding: 0px;
	width: 0px;
}

.laji-form .single-active-array-table td > .media-loading {
	position: absolute;
}
.laji-form .single-active-array-table td > .media-loading > .react-spinner {
    height: 18px;
    width: 18px;
    top: -50%;
    left: 50%;
    position: relative;
}

.laji-form .highlight-error-fire {
    animation: shake .5s linear 1;
}

@keyframes shake {
	8%, 41% {
		transform: translateX(-10px);
	}
	25%, 58% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-5px);
	}
	92% {
		transform: translateX(5px);
	}
	0%, 100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(10px);
	}
}

/* Custom bootstrap grid class */

.col-xs-13104,
.col-sm-13104,
.col-md-13104,
.col-lg-13104,
.col-xs-6104,
.col-sm-6104,
.col-md-6104,
.col-lg-6104 {
	position: relative;
	min-height: 1px;
}

@media (min-width: 768px) {
	.col-sm-13104 {
		width: calc(100% / 104 * 13);
		float: left;
	}
	.col-sm-6104 {
		width: calc(100% / 104 * 6);
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-13104 {
		width: calc(100% / 104 * 13);
		float: left;
	}
	.col-md-6104 {
		width: calc(100% / 104 * 6);
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-13104 {
		width: calc(100% / 104 * 13);
		float: left;
	}
	.col-lg-6104 {
		width: calc(100% / 104 * 6);
		float: left;
	}
}

.laji-form table {
	margin-bottom: 3px;
}

.laji-form .well-compact {
	margin: 0 0 1px 0;
	padding: 4px 10px;
}

.laji-form .well-compact .plainText {
	line-height: 25px;
}

.laji-form .well-compact-striped .laji-form-field-template-item:nth-child(even) .well-compact {
	background-color: #e3e3e3;
}

.laji-form .laji-form-compact-table .row {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -1px;
	margin-left: -1px;
}

.laji-form .laji-form-compact-table .laji-form-label-row {
	padding-top: 0;
	padding-bottom: 0;
}

.laji-form .laji-form-compact-table .row .row {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 3px;
}

.laji-form .laji-form-compact-table [class^="col-"] {
	padding-right: 1px;
	padding-left: 1px;
}

.laji-form-dense-table input {
	font-weight: bold;
}
.laji-form-dense-table input::-webkit-input-placeholder {
	font-weight: normal;
}
.laji-form-dense-table input::-moz-placeholder {
	font-weight: normal;
}
.laji-form-dense-table input:-ms-input-placeholder {
	font-weight: normal;
}
@media (max-width: 910px) {
	.laji-form .laji-form-dense-table .col-xs-12 {
		width: 100%;
	}

	.laji-form .laji-form-dense-table .col-xs-3 {
		width: 25%;
	}

	.laji-form .laji-form-dense-table .hidden-xs {
		display: none;
	}

	.laji-form .laji-form-dense-table .laji-form-field-template-item {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.laji-form .laji-form-dense-table .btn-toolbar {
		margin-top: 10px;
	}
}


.laji-form .laji-form-striped-array-table {
	padding-left: 0;
	padding-right: 0;
}

.laji-form .laji-form-striped-array-table .btn-toolbar, .laji-form .laji-form-striped-array-table legend, .laji-form .laji-form-striped-array-table .laji-form-label-row, .laji-form .laji-form-striped-array-table .field-array-row {
	padding-right: 7px;
	padding-left: 7px;
}

.laji-form .laji-form-striped-array-table .field-array-row:nth-child(odd) {
	background-color: #e3e3e3;
}
.laji-form .named-place-popup td:first-child {
	padding-right: 5px;
}
.laji-form .named-place-popup td:first-child {
	padding-right: 5px;
}
.laji-form #named-place-chooser-select {
	margin-bottom: 5px;
}
.laji-form.map-dialog .modal-body > div > .react-spinner {
	left: 50%;
	top: 50%;
	z-index: 1000;
	padding: 50px;
}
.laji-form .popover {
	z-index: 1040;
}
.laji-form .place-saver-dialog .alert {
	margin-top: 5px;
}

.laji-form .autosuggest-input-addon.active {
        color: #2980b9 !important;
}
.laji-form .autosuggest-input-addon.active .informal-group-image, .laji-form .informal-taxon-group-chooser-addon.active .informal-group-image  {
        filter: none;
}

.laji-form .input-group .input-group-btn .informal-taxon-group-chooser-addon.btn {
	width: 38px;
}
.laji-form .informal-taxon-group-chooser-addon .close {
	float: none;
	font-size: 14px;
	margin-left: 2px;
}
.laji-form .informal-taxon-group-chooser-addon > div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .informal-taxon-group-chooser-addon > .glyphicon {
	margin-top: -2px;
	margin-left: 2px;
}

.input-group .input-group-btn .btn {
	height: 25px;
	width: 25px;
	padding: 2px;
}

.laji-form .informal-group-image, .laji-form.informal-group-image  {
	min-width: 20px;
	min-height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

.laji-form.taxon-popover.informal-group-image {
	background-size: auto 65px;
	background-position: top left;
}
.laji-form.taxon-popover.informal-group-image > div {
	margin-left: 65px;
}
.laji-form.taxon-popover img {
	border: 1px solid;
}

.laji-form .informal-taxon-groups-list.list-group {
	z-index: 1;
	margin-left: -1px;
	margin-top: 2px;
}
.laji-form .informal-taxon-groups-list .list-group-item, .laji-form .informal-taxon-groups-list li a {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 2px 9px;
}
.laji-form .informal-taxon-groups-list .list-group-item .informal-group-image {
	margin-left: -5px;
	margin-right: 5px;
}
.laji-form .informal-taxon-groups-list .active .informal-group-image {
	background-color: white;
}
.laji-form .informal-taxon-groups-list .dropdown.btn-group button {
	height: 25px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .informal-taxon-groups-list .dropdown.btn-group button .caret {
	margin-top: 5px;
}
.laji-form.informal-taxon-group-chooser .informal-group-image {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.laji-form.informal-taxon-group-chooser h4 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.laji-form.informal-taxon-group-chooser .list-group-item {
	background: #eee;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form.informal-taxon-group-chooser .list-group-item h5, .laji-form.informal-taxon-group-chooser .list-group-item span {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

.laji-form .informal-taxon-groups-list button {
	width: 100%;
	height: 25px;
}
.laji-form .informal-taxon-groups-list .informal-group-chooser-button-content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-top: -6px;
	height: 25px;
}
.laji-form .informal-taxon-groups-list .informal-group-chooser-button-content span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 4px;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	text-align: initial;
}
.laji-form .informal-taxon-groups-list .informal-group-chooser-button-content .close {
	width: auto;
	margin-top: 1px;
}
.laji-form.informal-taxon-group-chooser .list-group-item.not-root {
	height: 32px;
	font-size: 12px;
	padding: 6px;
}
.laji-form.informal-taxon-group-chooser .list-group-item.not-root button {
	height: 32px;
	font-size: 12px;
	line-height: 6px;
	margin-top: -7px;
	margin-right: -7px;
	margin-left: 6px;
}

.informal-taxon-group-chooser .panel .informal-group-image {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.informal-taxon-group-chooser .panel-heading {
	height: 52px;
	text-align: center;
}
.laji-form legend .informal-group-image {
	width: 20px;
	height: 20px;
	float: left;
}

.laji-form .informal-taxon-group-chooser .panel {
	transition: border .2s ease-in-out;
	cursor: pointer;
}
.laji-form .informal-taxon-group-chooser .panel:hover {
	border-color: #337ab7;
}

.tooltip-inner {
	max-width: 300px;
}

.laji-form .affixed-labels {
	background: #f5f5f5;
	border-bottom: 1px solid #dddddd;
}

.laji-form .unit-shorthand {
	margin-top: 5px;
}
.laji-form .fetcher-input.has-toggler input {
	margin-left: -1px;
}

.laji-form .laji-text-select {
	padding: 5px;
	padding-top: 0;
	padding-bottom: 0;
}

.laji-form .laji-text-select .checkbox {
	margin: 0;
}

.laji-form .laji-map .leaflet-draw-tooltip .text-danger {
	color: #ffbbbb;
}

.laji-form .annotation-list {
	background-color: #f9f9f9;
}
.laji-form .annotation-list-odd {
	background-color: #f4f4f4;
}
.laji-form.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}

.laji-form .no-transition .collapsing {
	transition: none !important;
}

.laji-form .map-array-field-below-buttons {
	margin-top: 20px;
}

.laji-form .pager .disabled a {
	background-color: #f1f1f1;
	color: #b7b7b7;
}

.laji-form > button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.laji-form .darker-bottom-border {
	border-bottom: 1px solid #d2d2d2;
}
.location-chooser-errors .tooltip-inner {
	background: #bd362f;
}
.location-chooser-errors.tooltip.left .tooltip-arrow {
	border-left-color: #bd362f !important;
}
.location-chooser-errors.tooltip.right .tooltip-arrow {
	border-right-color: #bd362f !important;
}
.location-chooser-errors.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #bd362f !important;
}
.location-chooser-errors.tooltip.top .tooltip-arrow {
	border-top-color: #bd362f !important;
}
.location-chooser-errors ul {
	list-style: none;
	padding: 0;
}

.laji-form .blocker {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	top: 0;
	z-index: 1000;
	opacity: 0.5;
}
.laji-form .blocker-content {
	opacity: 1;
	background-color: transparent;
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: white;
	text-align: center;
}

.laji-form .blocker-content .react-spinner {
	top: 50%;
	left: -20px;
}
.laji-form .blocker-content .react-spinner_bar {
	background-color: white;
}

.laji-form .floating-buttons-container {
	bottom: 10%;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, 0);
}

.laji-form .margin-top {
	margin-top: 5px;
}

.laji-form .top-no-border-radius.panel {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

.laji-form .clear-margin-above {
	margin-top: -5px;
}

.laji-form.media-add-modal button {
	margin-bottom: 12px;
}
.laji-form.media-add-modal .modal-body > *:last-child {
	margin-bottom: inherit;
}

.laji-form .running-jobs {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0);
	z-index: 100009000;
	color: white;
	font-weight: bold;
}
.laji-form .running-jobs .progress {
	margin-top: 5px;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

/* Hide text input arrows */
/* Chrome, Safari, Edge, Opera */
.laji-form input::-webkit-outer-spin-button,
.laji-form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
.laji-form input[type=number] {
	-moz-appearance:textfield;
}

.laji-form .horizontally-centered {
	display: block !important;
	text-align: center;
}
.laji-form .horizontally-centered:not(legend) {
	margin: auto;
}

.laji-form .row-height {
	height: 25px;
	line-height: 25px;
}

.laji-form legend.hidden-title-text span {
	visibility: hidden;
	white-space: nowrap;
}

.laji-form .not-strong {
	font-weight: normal;
}

.laji-form .invisible {
	visibility: hidden;
}

.laji-form .checkbox-row > .form-group {
	display: inline-block;
	margin-right: 30px;
}
.tooltip.lg .tooltip-inner {
	font-size: 14px;
	max-width: 400px;
}
.text-left {
	text-align: left;
}

.laji-form .input-highlight {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,1);
}

/* Select widget options to be single line & use all width needed. */
.laji-form .rw-popup-container {
	right: initial;
	min-width: 100%;
}
.laji-form .rw-popup {
	right: initial;
	min-width: 100%;
}
.laji-form .rw-list-option {
	white-space: nowrap;
}

.laji-form-fill {
	display: block;
	margin: auto;
}

.laji-form .laji-form-hide-btn-label, .laji-form .btn.btn-default.laji-form-hide-btn-label {
	color: white;
}

.laji-form .informal-group-image {
	filter: saturate(0);
	display: block;
}

.laji-form .informal-group-image.MVL\.26, .laji-form.informal-group-image.MVL\.26 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.26.svg);
}
.laji-form .informal-group-image.MVL\.1, .laji-form.informal-group-image.MVL\.1 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.1.svg);
}
.laji-form .informal-group-image.MVL\.39, .laji-form.informal-group-image.MVL\.39 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.39.svg);
}
.laji-form .informal-group-image.MVL\.27, .laji-form.informal-group-image.MVL\.27  {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.27.svg);
}
.laji-form .informal-group-image.MVL\.232, .laji-form.informal-group-image.MVL\.232 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.232.svg);
}
.laji-form .informal-group-image.MVL\.233, .laji-form.informal-group-image.MVL\.233  {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.233.svg);
}
.laji-form .informal-group-image.MVL\.2, .laji-form.informal-group-image.MVL\.2 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.2.svg);
}
.laji-form .informal-group-image.MVL\.40, .laji-form.informal-group-image.MVL\.40 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.40.svg);
}
.laji-form .informal-group-image.MVL\.37, .laji-form.informal-group-image.MVL\.37 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.37.svg);
}
.laji-form .informal-group-image.MVL\.28, .laji-form.informal-group-image.MVL\.28 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.28.svg);
}
.laji-form .informal-group-image.MVL\.41, .laji-form.informal-group-image.MVL\.41 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.41.svg);
}
.laji-form .informal-group-image.MVL\.21, .laji-form.informal-group-image.MVL\.21 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.21.svg);
}
.laji-form .informal-group-image.MVL\.28, .laji-form.informal-group-image.MVL\.29 {
	background-image: url(https://cdn.laji.fi/images/informalGroups/MVL.28.svg);
}

.laji-form legend.has-help div {
	display: initial;
}

.laji-form .pull-right {
	float: right !important;
}
.laji-form .card {
	border: none;
}
.laji-form .laji-form-error-list {
	background-color: white;
}
