body {
    background: #eeeeee;
}

.autosuggest-container, .scope-field-additionals-container  {
    position: absolute;
    z-index: 1;
}

.map-array-directionless-enter {
    opacity: 0.01;
}

.map-array-directionless-enter.map-array-directionless-enter-active {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.map-array-left-enter {
    transform: translate3d(-100%, 0, 0);
}

.map-array-right-enter {
    transform: translate3d(100%, 0, 0);
}

.map-array-left-enter.map-array-left-enter-active, .map-array-right-enter.map-array-right-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all 300ms;
}

.map-array-directionless-leave, .map-array-left-leave, .map-array-right-leave {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.laji-form input[type=text], .laji-form select {
	height: 25px;
	border-radius: 2px;
}

.laji-form select {
	padding: 3px 6px;
}

.laji-form .form-group {
	margin-bottom: 7px;
}

.form-inline .form-group {
	padding-left: 5px;
}

.laji-form button {
	height: 100%;
	line-height: 14px;
	border-radius: 2px;
	white-space: normal;
}

.laji-form legend {
	font-size: 18px;
}
.laji-form label {
	font-size: 13px;
}

.laji-form .field-description {
	font-size: 13px;
}

.laji-form-map {
	z-index: 1;
	padding-bottom: 15px;
}

.taxon-widget-meta {
	font-size: 11px;
	margin-top: -5px;
	margin-left: 5px
}

.laji-form-help-glyph {
    margin-left: 5px;
    border-radius:9px;
    color: white;
    padding: 2px 5px;
	color: white;
	padding: 2px 5px;
}
