body .laji-form {
    background: #eeeeee;
	font-size: 13px;
}

.autosuggest-wrapper {
	position: relative;
}
.autosuggest-container {
    position: absolute;
    z-index: 1;
}

.map-array-directionless-enter {
    opacity: 0.01;
}
.map-array-directionless-enter.map-array-directionless-enter-active {
    opacity: 1;
    transition: opacity .3s ease-in;
}
.map-array-left-enter {
    transform: translate3d(-100%, 0, 0);
}
.map-array-right-enter {
    transform: translate3d(100%, 0, 0);
}
.map-array-left-enter.map-array-left-enter-active, .map-array-right-enter.map-array-right-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all 300ms;
}
.map-array-directionless-leave, .map-array-left-leave, .map-array-right-leave {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

input[type=text], select {
	border-radius: 2px;
	padding: 0px 5px;
	height: 25px;
}
select {
	padding: 3px 6px;
}

.form-group {
	margin-bottom: 7px;
}
.form-inline .form-group {
	padding-left: 5px;
}

button {
	height: 100%;
	line-height: 14px;
	border-radius: 2px;
	white-space: normal;
}

legend {
	font-size: 18px;
}
label {
	font-size: 13px;
}
.field-description {
	font-size: 13px;
}

.input-meta {
	font-size: 11px;
}
.input-meta button {
	font-size: 11px;
	padding: 0;
	margin: 0;
}
.taxon-widget.input-meta {
	margin-top: -7px;
}

.laji-form-help-glyph {
    margin-left: 5px;
    border-radius:9px;
    color: white;
    padding: 2px 5px;
	color: white;
	padding: 2px 5px;
}


.laji-form-map {
	z-index: 1;
	padding-bottom: 15px;
}
.map-field .field-description {
	padding-bottom: 15px;
}

.btn-danger {
	width: auto;
	float: right;
	line-height: 5px;
	font-size: 11px;
	padding: 5px;
}
.btn-group .btn-danger {
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 14px;
	padding: 6px 12px;
}

.rc-switch {
	width: 60px;
}

.rc-switch-checked:after {
	left: 37px;
}
.rc-switch-toggled-false .rc-switch-inner {
	right: 7px;
	left: initial;
}
.rc-switch-disabled .rc-switch-inner {
	color: #9e9e9e;
}

.dropdown-header {
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.react-spinner_bar {
	background-color: black;
}
.react-spinner {
	position: absolute;
	left: initial;
	top: initial;
	float: right;
}
.autosuggest-wrapper .react-spinner {
	width: 25px;
	right: -9px;
	bottom: -20px;
}
.input-meta .react-spinner {
	width: 20px;
	bottom: -7px;
	right: 8px;
}
.scope-field-modal-item .react-spinner {
	right: -5px;
	width: 25px;
	top: 14px;
}

.scope-field-modal-item {
	width: 130px;
	padding: 5px;
}
.scope-field-modal-item .list-group-item {
	height: 8px;
	line-height: 0px;
}
.scope-field-modal-item span {
	font-weight: bold;
}
.scope-field-search {
	width: 40%;
	display: block;
	margin: auto;
}
