.unit-schema .form-group {
	float: left
}
.unit-schema .form-group > * {
	display: table;
}
.unit-schema-container > * {
	display: inline-block;
}
.unit-schema-container div > button {
	display: block;
}
