.horizontal fieldset > * {
	float: left
}
.expandable-field-container > * {
	display: inline-block;
	vertical-align: bottom;
}
.expandable-field-container div > button {
	display: block;
}
.table-field tr td {
	padding: 0px 2px;
	vertical-align: top;
}
